<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.3.5" targetFramework="net45" />
  <package id="Zeroit.Framework.BarProgressThematic" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.BasicCharts" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Button" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.ButtonThematic" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.CheckBoxThematic" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.CodeTextBox" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Component" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Form" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.FormEditors" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Gauges" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.LineSeparators" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.ListView" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.MaterialDesign" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.MaterialWinforms" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Metro" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.MiscControls" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.PictureBox" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.PolygonCreator" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Progress" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.ProgressThematic" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.RadioThematic" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.SwitchThematic" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Tooltip" version="1.0.0" targetFramework="net48" />
  <package id="Zeroit.Framework.Transitions" version="1.0.2" targetFramework="net48" />
  <package id="Zeroit.Framework.UIThemes" version="1.0.0" targetFramework="net48" />
</packages>